<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

		<section>
			<form>
				<input type="text" value="Name:">
				<input type="text" value="E-mail:">
				<input type="text" value="Phone:"><br>
				<textarea rows="4" cols="50">
Note:
				</textarea>
				<input type="button" value="Clear">
				<input type="button" value="Send">
			</form>
		</section>

	<!-- End Component -->
	
</body>
</html>