<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

		<header>
			<div class="wrapper">
			<h1>Communication</h1>
			<nav>
				<ul>
					<li><a href="#">Home</a></li>
				
					<li><a href="#">About</a></li>
				
					<li><a href="#">Services</a></li>
				
					<li><a href="#">Projects</a></li>
				
					<li><a href="#">Blog</a></li>
				
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
			</div>
		</header>

	<!-- End Component -->
	
</body>
</html>