<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

		<header>
			<h1>Communication</h1>
			<nav>
				<a href="#">Home</a>
				<p>//</p>
				<a href="#">About</a>
				<p>//</p>
				<a href="#">Services</a>
				<p>//</p>
				<a href="#">Projects</a>
				<p>//</p>
				<a href="#">Blog</a>
				<p>//</p>
				<a href="#">Contact</a>
			</nav>
		</header>

	<!-- End Component -->
	
</body>
</html>