<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<header>
		
		<h3>Your Logo</h3>
		<p>Communication</p>

		<h2>The best landing page<h2>
		<h1>You are looking for<h1>

		<ul>
			<li><p>58</p></li>
			<li><p>Days</p></li>
			<li><p>03</p></li>
			<li><p>Hours</p></li>
			<li><p>18</p></li>
			<li><p>Minutes</p></li>
			<li><p>31</p></li>
			<li><p>Seconds</p></li>
		</ul>

	</header>

	<!-- End Component -->
	
</body>
</html>