<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

		<footer>
			<h4>Follow Us</h4>
				<ul>
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Google +</a></li>
					<li><a href="#">Pinterest</a></li>
					<li><a href="#">Linkedin</a></li>
					<li>&copy 2015 Privacy Policy</li>
				</ul>

			<h4>Address</h4>
				<ul>
					<li>9870 St Vincent Place,<br>
						Glasgow, DC 45 FR 45.</li>
					<li>Freephone +1 800 555 7000</li>
					<li>Contact@oursite.com</li>
				</ul>

			<h4>Support Menu</h4>
				<ul>
					<li>Lost Password?</li>
					<li>Forgot Your Username?</li>
					<li>Your Membership</li>
					<li>Your Account</li>
					<li>Support Forum</li>
				</ul>

			<h4>About Us</h4>
				<ul>
					<li>Customer Focus</li>
					<li>Performance</li>
					<li>Affiliates</li>
					<li>Cv Review</li>						
				</ul>
		</footer>

	<!-- End Component -->
	
</body>
</html>