<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

		<section>
			<article>
				<h1>We Connect
					<span>People</span></h1>
				<p>Morbi convallis ante dictum, dapibus diam a, condimentum augue.</p>
				<a href="more">Read More</a>
				<a href="join">Join Us</a>
				<ul>
					<li><a href="first">First</a></li>
					<li><a href="second">Second</a></li>
					<li><a href="third">Third</a></li>
				</ul>
			</article>

			<article>
				<h1>Only Certified
					<span>Phones</span></h1>
				<p>Morbi convallis ante dictum, dapibus diam a, condimentum augue.</p>
				<a href="more">Read More</a>
				<a href="join">Join Us</a>
				<ul>
					<li><a href="first">First</a></li>
					<li><a href="second">Second</a></li>
					<li><a href="third">Third</a></li>
				</ul>
			</article>

			<article>
				<h1>Best Technological
					<span>Solutions</span></h1>
				<p>Morbi convallis ante dictum, dapibus diam a, condimentum augue.</p>
				<a href="more">Read More</a>
				<a href="join">Join Us</a>
				<ul>
					<li><a href="first">First</a></li>
					<li><a href="second">Second</a></li>
					<li><a href="third">Third</a></li>
				</ul>
			</article>			
		</section>


	<!-- End Component -->
	
</body>
</html>