<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

		<section>
			<h1>We Connect People</h1>
			<p>Morbi convallis ante dictum, dapibus diam a, condimentum augue.</p>
			<a href="#">Read More</a>
			<a href="#">Join Us</a>
		</section>
			<h1>Only Certified Phones</h1>
			<p>Morbi convallis ante dictum, dapibus diam a, condimentum augue.</p>
			<a href="#">Read More</a>
			<a href="#">Join Us</a>
		<section>
			<h1>We connect People</h1>
			<p>Morbi convallis ante dictum, dapibus diam a, condimentum augue.</p>
			<a href="#">Read More</a>
			<a href="#">Join Us</a>			
		</section>

		<section>
			<h1>Best Technological Solutions</h1>
			<p>Morbi convallis ante dictum, dapibus diam a, condimentum augue.</p>
			<a href="#">Read More</a>
			<a href="#">Join Us</a>			
		</section>

	<!-- End Component -->
	
</body>
</html>