<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic|Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

		<section>
			<div class="wrapper">
			<article id="members">
				<h2>Pretium & quisolor</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commondo liegual eget dolor. Aemeam massa cum sociis natoque penatibus et magnis.</p>
				<a href="#">Read More ></a>
			</article>

			<article id="communication">
				<h2>Nullam quis ante</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commondo liegual eget dolor. Aemeam massa cum sociis natoque penatibus et magnis.</p>
				<a href="#">Read More ></a>
			</article>
		
			<article id="work">
				<h2>Ullamcorper trices</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commondo liegual eget dolor. Aemeam massa cum sociis natoque penatibus et magnis.</p>
				<a href="#">Read More ></a>
			</article>
		</div>
		</section>
	
	<!-- End Component -->
	
</body>
</html>