<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

		<section>
			<article>
				<h2>The Order: 1886</h2>
				<p>Pellentesque tempus nulla in turpis lacinia, id rutrum magna porta. Vivamus eu nulla pulvinar, scelerisque felis sit amet, volutpat orci. Nunc eget lacus ut velit blandit congue eget ac mauris. Cras maximus mi at mi congue, sed vehicula lacus iaculis. Mauris tempor lacus vitae urna elementum placerat.</p>
				<p>Playstation 4</p>
				<a href="#">Read More</a>
			</article>

			<article>
				<h2>GTA 5</h2>
				<p>Pellentesque tempus nulla in turpis lacinia, id rutrum magna porta. Vivamus eu nulla pulvinar, scelerisque felis sit amet, volutpat orci. Nunc eget lacus ut velit blandit congue eget ac mauris. Cras maximus mi at mi congue, sed vehicula lacus iaculis. Mauris tempor lacus vitae urna elementum placerat.</p>
				<p>Xbox One</p>	
				<a href="#">Read More</a>		
			</article>

			<article>
				<h2>Tom Clancy's Ghost Recon: Shadow Wars</h2>
				<p>Pellentesque tempus nulla in turpis lacinia, id rutrum magna porta. Vivamus eu nulla pulvinar, scelerisque felis sit amet, volutpat orci. Nunc eget lacus ut velit blandit congue eget ac mauris. Cras maximus mi at mi congue, sed vehicula lacus iaculis. Mauris tempor lacus vitae urna elementum placerat.</p>
				<p>Nintendo 3DS</p>
				<a href="#">Read More</a>				
			</article>

			<article>
				<h2>Dying Light</h2>
				<p>Pellentesque tempus nulla in turpis lacinia, id rutrum magna porta. Vivamus eu nulla pulvinar, scelerisque felis sit amet, volutpat orci. Nunc eget lacus ut velit blandit congue eget ac mauris. Cras maximus mi at mi congue, sed vehicula lacus iaculis. Mauris tempor lacus vitae urna elementum placerat.</p>
				<p>PC</p>
				<a href="#">Read More</a>				
			</article>
		</section>

	<!-- End Component -->
	
</body>
</html>