<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

		<section>
			<article id="order">
				<h2>The Order: 1886</h2>
				<p>Dolor sit amet, consectet adipisicing elit, seddo.</p>
				<p>Playstation 4</p>
				<a href="more">Read More</a>
			</article>

			<article id="gta">
				<h2>GTA 5</h2>
				<p>Dolor sit amet, consectet adipisicing elit, seddo.</p>
				<p>Xbox One</p>	
				<a href="more">Read More</a>		
			</article>

			<article id="ghost">
				<h2>Tom Clancy's Ghost Recon: Shadow Wars</h2>
				<p>Dolor sit amet, consectet adipisicing elit, seddo.</p>
				<p>Nintendo 3DS</p>
				<a href="more">Read More</a>				
			</article>

			<article id="light">
				<h2>Dying Light</h2>
				<p>Dolor sit amet, consectet adipisicing elit, seddo.</p>
				<p>PC</p>
				<a href="more">Read More</a>				
			</article>
		</section>

	<!-- End Component -->
	
</body>
</html>