<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

		<section>
			<h2>Returning Customer</h2>
			<p>I am a returning customer</p>
			<form>
				<label for="email">Email:</label><br>
				<input type="email" id="email" value="Email"><br>
				<label for="password">Password:</label><br>
				<input type="password" id="password"><br>
				<a href="#">Forgotten Password</a><br>
				<input type="button" value="Login">
			</form>
		</section>

	<!-- End Component -->
	
</body>
</html>