<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

		<section>
			<h1>Fresh Menu:</h1>
				<article>
					<p>$45.00</p>
					<img src="item1.jpg">
				</article>

				<article>
					<p>$27.00</p>
					<img src="item2.jpg">
				</article>

				<article>
					<p>$25.00</p>
					<img src="item3.jpg">
				</article>	

				<article>
					<p>$33.00</p>
					<img src="item4.jpg">
				</article>

				<article>
					<p>$23.00</p>
					<img src="item5.jpg">
				</article>

				<article>
					<p>$40.00</p>
					<img src="item6.jpg">
				</article>

				<article>
					<p>$42.00</p>
					<img src="item7.jpg">
				</article>

				<article>
					<p>$34.00</p>
					<img src="item8.jpg">
				</article>
		</section>

	<!-- End Component -->

	<!-- Image credits -->

	<!--

	<a href="https://www.flickr.com/photos/40544598@N00/234126433/">Lys*</a> via <a href="http://compfight.com">Compfight</a> <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/">cc</a>

	<a href="https://www.flickr.com/photos/16157180@N00/141714633/">xx3734</a> via <a href="http://compfight.com">Compfight</a> <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/">cc</a>

	<a href="https://www.flickr.com/photos/34948727@N00/9698220861/">ultrakml</a> via <a href="http://compfight.com">Compfight</a> <a href="https://creativecommons.org/licenses/by/2.0/">cc</a>

	<a href="https://www.flickr.com/photos/92269745@N00/4544048268/">ralph and jenny</a> via <a href="http://compfight.com">Compfight</a> <a href="https://creativecommons.org/licenses/by/2.0/">cc</a>

	<a href="https://www.flickr.com/photos/34948727@N00/16692417302/">ultrakml</a> via <a href="http://compfight.com">Compfight</a> <a href="https://creativecommons.org/licenses/by/2.0/">cc</a>

	<a href="https://www.flickr.com/photos/12687042@N00/8711374734/">Pabo76</a> via <a href="http://compfight.com">Compfight</a> <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/">cc</a>

	<a href="https://www.flickr.com/photos/17879025@N00/4719353077/">sporkist</a> via <a href="http://compfight.com">Compfight</a> <a href="https://creativecommons.org/licenses/by/2.0/">cc</a>

	<a href="https://www.flickr.com/photos/38235150@N00/14242367420/">kadluba</a> via <a href="http://compfight.com">Compfight</a> <a href="https://creativecommons.org/licenses/by-sa/2.0/">cc</a>

	-->
	
</body>
</html>